@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100vh;
  font-family: 'Source Sans 3', sans-serif;
}

.content {
  flex: 1;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  position: relative;
}

.body {
  margin: 0;
  max-height: 100vh;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle On Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}